<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дерево зв'язків</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-container {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 20px;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id" class="form-label">Text FK</label>
                    <input class="form-control" id="id" value="{{ text_fk }}" readonly>
                    <label for="text" class="form-label">Ваш текст</label>
                    <textarea class="form-control" id="text" name="text" rows="6">{{ text }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Відправити</button>
            </form>
        </div>
        <div class="col-md-6">
            {% if canvas %}
                <div class="btn-container">
                    <a class="btn btn-secondary" {% if sentence_prev%}href="/?text_fk={{ text_fk }}&sentence={{ sentence_prev }}" {% else %}href="#"{% endif %}>Prev ({{ sentence_prev }})</a>
                    <p>{{ sentence }}/{{ sentences }}</p>
                    <a class="btn btn-primary" {% if sentence_next%}href="/?text_fk={{ text_fk }}&sentence={{ sentence_next }}" {% else %}href="#"{% endif %}>Next
                        ({{ sentence_next }})</a>
                </div>
                {{ canvas|safe }}
            {% endif %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>